.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.optionButton { 
    width: 250px;
    height: 250px;
    border: 1px solid #eb0606;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.optionButton img{
    width: 250px;
    height: 250px;
}